 /* @import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Mountains+of+Christmas:wght@400;700&family=Sansita+Swashed:wght@300..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Mountains+of+Christmas:wght@400;700&family=Sansita+Swashed:wght@400;700&display=swap');

 body,html{
   position:relative;
   font-family: "Mountains of Christmas", serif;
   /* background:#f5f5f5; */
   /* background:linear-gradient(to bottom, #f5f5f5, #ffffff); */
    margin:0;
    padding:0;
    height: 100%;
 }

 #background-layer{
    height: 100vh;
    width:100vw;
   
    top:0;
    left:0;
    position:fixed;
    
    background: 
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), 
    url("../images/weat.jpg") center/cover no-repeat;

    z-index:-1;
    opacity: 1;
}

 .bg{
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }

 .heading{
    /* display: block;  */
   text-align: center;
   background: linear-gradient(to right, rgba(238, 0, 0, 0.87), rgba(245, 161, 4, 0.959), #f7f704, rgb(3, 245, 3), blue, rgb(75, 0, 130), rgb(241, 3, 241));
   -webkit-background-clip: text;   /* clip gradient to text */
  -webkit-text-fill-color: transparent; /* make text transparent so gradient shows */
   background-clip:text;
 }
 
 /* for middle div  */
 #center{       
    position:relative;
           
    display: flex;
    flex-direction: column;
    justify-content: center;

    height:450px;
    width:300px;
    
    padding: 10px 10px;  
    top:40%;      /*.......*/
    left: 50%; 

    transform: translate(-50%, -50%);   
   
    /* background: linear-gradient(to right,rgba(38, 132, 240, 0.05),rgba(35, 127, 231,0.05)); */
    
    border-radius: 25px; 
    gap: 15px; 
    color: #FFFF00;  
}



.box-style{
   position: relative;
   width:250px;
   height:40px;
}

.box_style #centering{
    justify-content: center;
    position:relative; 
    
    top:5px;

    width:250px;
    height: 40px;
 
    margin-left:10px;
    gap:10px;
    padding-left:10px;

    font-weight:bolder;
    font-size:16px;
    font-weight: bold;

    outline: none;
    border-color: rgb(211, 216, 243); 
    
    border-radius: 18px;
}

#centering:focus {
   box-shadow: 0 0 5px rgb(211, 216, 243);
   transition: 0.2s;
}

.box_style i {
    position: absolute;
    left:68%; 
    top:6.5%;
     color: #050000;
    font-size: 18px;
    cursor: pointer;
}  
  

 .submitting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left:10%;

    height:45px;
    width: 50px;

    border-radius: 12px;
    
    border-color: rgb(211, 216, 243);;

   
 }

 .highlight{
    background-color: cadetblue;
 }

    #result{
    display: flex;
    position:relative;
    flex-direction: column;

    height:420px;
    width:305px;
    border:none; 
    outline:none;
    font-size: 20px;
    font-weight: bold;
    font-family: "Edu NSW ACT Hand Pre", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    z-index:1;
   /* opacity:1; */

    }


    h2{
     margin-top: 0;      /* remove the big top gap */
     margin-bottom: 1px; /* small gap below city name */
     font-weight: bold; 
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

 

