{% load static %} 
<!DOCTYPE html> 
<html lang="en">
    <head> 
        <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
          <link rel="stylesheet" href="{% static 'css/style.css' %}">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

   </head> 
   <body> 
    <div id="background-layer"></div>
    <h1 class=heading> Lets Decide Your Mood </h1>
     <!-- <form method="GET" action="/calling"> -->
     
      <form id="center"> 
          
        <div class="box_style"> 
           
            <input type="text" id="centering" name="city" placeholder="Enter the City name"> 
             <i class="fas fa-magnifying-glass" id="search_icon"></i> 
        </div> 

      <!-- <button class="submitting" onclick="getWeather()">Submit</button>   -->
       <button type="submit" style="display: none;">submit</button>
      <div id="result"></div> 
       
      </form>
          
       <!-- </form>  -->
      
  <script src="{% static 'practice.js' %}"></script>
   </body> 
</html>  







 <!-- <form method="POST" action="/">
  {% csrf_token %}
  <input type="text" name="city" placeholder="Enter city">
  <button type="submit">Save</button>
</form>

 Show saved cities 
<ul>
  {% for c in cities %}
    <li>{{ c.name }}</li>
  {% endfor %}
</ul>

 Weather result (fetched by JS) 
<div id="weather-info"></div>

<script src="{% static 'practice.js' %}"></script> -->



